# PostgreSQL
POSTGRES_USER=productmgmt
POSTGRES_PASSWORD=productmgmt_dev
POSTGRES_DB=productmanagement
POSTGRES_PORT=5432

# Redis
REDIS_PASSWORD=redis_dev
REDIS_PORT=6379

# Azurite (Azure Storage emulator)
AZURITE_PORT_BLOB=10000
AZURITE_PORT_QUEUE=10001
AZURITE_PORT_TABLE=10002

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# API
API_PORT=5001
ASPNETCORE_ENVIRONMENT=Development
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=postgres;Port=5432;Database=productmanagement;Username=productmgmt;Password=productmgmt_dev
CONNECTIONSTRINGS__REDIS=redis:6379,password=redis_dev
BLOB__CONNECTIONSTRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;

# Frontend dev server
VITE_API_BASE_URL=http://localhost:5001

# Prometheus / Grafana
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_PASSWORD=admin

# Jaeger
JAEGER_UI_PORT=16686
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
